

<div id="address-template">
 
    <h3>Address</h3>
    You can find me in {{city}}. My address is {{number}} {{street}}.
    My post-office is {{postoffice}}.<br><br><br>
    <input id="hidefirst" type="button" onclick="about();" name="About" value="About">

</div>
