/*#object{
	width: 150px;
	height: 150px;
	background-color: black;
	color: white;
	text-align: center;
	line-height: 150px;
	font-family: arial;
	font-size: 20px;
   margin: 50px auto;
   animation: sampleAnimation 2s infinite alternate;
}
@keyframes sampleAnimation{
    from{border-radius: 0;}
    to{border-radius: 50%;
      background-color: red;
      font-size: 25px;
      box-shadow: 8px 8px 8px grey;
      text-shadow: 8px 8px 7px black;}
}*/
#info{
	color: red;
	text-align: center;

}
h1,p{
	position: relative;
	top: 20px;
}
