body{
	margin-top: 10px;
	font-family: sans-serif;
}
#address-template, #information{
	margin-left:155px;
	text-align: center;
	background-color:darkcyan;
	color:white;
	padding: 10px;
}
#information{
	margin-top: 20px;
	font-family: 'Roboto Mono', monospace;
}
#hidefirst, #hellobutton{
    font-size: 15px;
	padding: 5px 15px 5px 15px;
	background-color: red;
	color: white;
}
#last-child, #last-div{
	  margin-left:155px;
    background-color:black;
    color:yellow;
    padding:5px;
    margin-top: 10px;
}
