<footer>
   <div class="section-1">
    <div class="first-container">
      <div class="content-1">
        <h4>Get connected with us on social networks!</h4>
      </div>
      <div class="content-2">
        <div class="imagesfolder">
                    <img src="./images/fbicon3.png" alt="facebook icon">
                    <img src="./images/tweticon2.png" alt="facebook icon">
                    <img src="./images/glgicon.png" alt="facebook icon">
                    <img src="./images/inicon2.png" alt="facebook icon">
                    <img src="./images/insta.png" alt="facebook icon">
               </div>
      </div>
    </div>
   </div>
   <div class="section-2">
    <div class="second-container">
          <div class="list-content1">
            <ul>
                <li>company name</li>
                <li class="blue-color">Vidya Mantra Edusystem Pvt.Ltd.</li>
              </ul>
          </div>
          <div class="list-content1">
            <ul>
               <li>Services</li>
               <li class="blue-color">Laundary</li>
               <li class="blue-color">Food</li>
               <li class="blue-color">Vegitable & grecory</li>
               <li class="blue-color">Handyman Services</li>
              </ul>
          </div>
          <div class="list-content1">
            <ul>
               <li>Useful links</li>
               <li class="blue-color">Your Account</li>
               <li class="blue-color">Become an Affiliate</li>
               <li class="blue-color">Shipping Rates</li>
               <li class="blue-color">Help</li>
              </ul>
          </div>
          <div class="list-content1">
            <ul>
                <li>Contact</li>
               <li class="adrs">H-46,Khanpur,Gr.noida(U.P)</li>
               <li class="mail">rohit.sharma@vidyamantra.com</li>
               <li class="contact">+91 9953497117</li>
               <li class="print">1200 44557123</li>
              </ul>
          </div>
        </div>
   </div>
   <div class="section-3">
    <div class="content-3">
           <p>&copy;2019 Copyright:Truebuddy</p>
    </div>
   </div>

</footer>
