<div id="information">
	<h1>About Rohit Sharma</h1>
	    Hello, this is {{name}} .I blong to khanpur(gr.noida) and i am {{occupation}}. All Information about me comming soon...please wait.<br><br>
    <button id="hellobutton" onclick="addbutton();">Add</button>
</div>
