<div class="sidebars">
    <div class="content-1">
        <h2>First content</h2>
        <p> hi this is a first paragraphs.</p>
    </div>
    <div class="content-2">
          <h2>Second content</h2>
          <p> hi this is a second paragraphs.</p>
        <div class="content-3">
            <h2>Third content</h2>
            <p> hi this is a Third paragraphs.</p>
        </div>
    </div>
</div>
